MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=seq_test
MYSQL_CONNECT_TIMEOUT=10000
SEQ_MYSQL_KEEP_TABLES=0

ORACLE_USER=seq_test
ORACLE_PASSWORD=
ORACLE_CONNECT_STRING=localhost:1521/FREEPDB1
ORACLE_CONNECT_TIMEOUT=10
SEQ_ORACLE_KEEP_TABLES=0
